<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
  <item android:id="@+id/ASV"
        android:title="ASV"/>
  <item android:id="@+id/ESV"
        android:title="ESV"/>
  <item android:id="@+id/NIV"
        android:title="NIV"/>
  <item android:id="@+id/KJV"
        android:title="KJV"/>
  <item android:id="@+id/YLT"
        android:title="YLT"/>
</menu>